[2015-12-10 18:14] grncdr opened #1 "$client->getEntries() does not work."
[code]

Output:

[code]

[2015-12-11 10:47] #1 closed, assigned to realityking

[2016-02-23 03:07] raenk opened #3 "Undefined function curl_reset() on GuzzleHttp"
When trying $client->getEntries();

I'm getting this error:
Call to undefined function GuzzleHttp\Handler\curl_reset() in ../guzzlehttp/guzzle/src/Handler/CurlFactory.php on line 78

Reinstalled all libraries related to contenful to no avail.

Thanks

[2016-02-23 10:22] realityking commented on #3
Hi raenk,

What PHP version are you using? The SDK requires at least PHP 5.5.9, from the error message it looks like you're using some version < 5.5.

[2016-02-23 13:58] raenk commented on #3
Hi,

5.5.32

php -v
PHP 5.5.32 (cli) (built: Feb  4 2016 23:43:24)
Copyright (c) 1997-2015 The PHP Group
Zend Engine v2.5.0, Copyright (c) 1998-2015 Zend Technologies

[2016-02-23 14:05] realityking commented on #3
Hi raenk,

I'm a bit baffled to be honest. Could you please execute the following code in your shell and post the output? Thank you. `php --rf curl_reset`

Did you test Contentful with a CLI script or web page? I know this is the equivalent of the "is it plugged in" question, but could you please make sure you're using the same version for Web and CLI.

[2016-02-23 15:12] raenk commented on #3
Hi,

Your suggestion woke me up. Just realized that PHP was just updated, so an
apache restart was needed to pick it up :)

Thanks a lot!

[2016-02-23 15:13] realityking commented on #3
Glad I could help 😀

[2016-02-23 15:13] #3 closed

[2016-04-14 08:00] frankdejonge opened #4 "Human documentation"
There's only generated API docs, which basically says as much as my IDE does. It would be nice to have some documentation which illustrates the different use-cases of the SDK as well as the conventions around it. The project I'm currently working on uses contentful but we're hesitant to use the provided SDK because the lack hereof.

[2016-04-14 08:15] frankdejonge commented on #4
Just saw there's docs here: https://www.contentful.com/developers/docs/php/tutorials/getting-started-with-contentful-and-php/ might be good to link to this from the repo. Common package search flows are: Packagist -> Github Repo / Readme -> Docs.

[2016-05-13 15:21] realityking commented on #4
Hey Frank,

sorry for not responding to this earlier, I somehow missed the notification. Good catch on the docs, when we first published the SDK we didn't have any of the tutorials and later I never thought about this. I just pushed [a commit](https://github.com/contentful/contentful.php/commit/4f10171494ad0396bb6374315758a7361ab5e398) that contains links to the rest of the docs.

If there's anyth

[2016-05-13 15:21] #4 closed

[2016-05-15 09:15] philippkuehn opened #5 "Call to a member function getFile() on null"
Hey,

I have a basic content type with title and an image:

![qsfitgc5ni](https://cloud.githubusercontent.com/assets/2500670/15273054/b47ec36a-1a8d-11e6-8043-4c66e0689517.png)

If I want to loop through all images everything is fine:

[code]

But if I want to loop through all entries, I don't have access to `getFile()`.

[code]

What I'm doing wrong here?

[2016-06-08 11:53] realityking commented on #5
Hi Philipp,

first of all sorry for the late answer. Unfortunately GitHub emails go into my private mail account, where stuff easily get lost.

My first guess would be that you have an entry that's not linked to an asset. To be sure, could you please open a ticket on https://support.contentful.com/hc/en-us and share the space ID and API key? I'll try reproducing the issue.

Cheers,
Rouven

[2016-06-24 10:23] ArondeParon opened #7 "Don't use private properties on the Delivery Client"
I'm currently trying to integrate the Contentful SDK into a Laravel application and want to extend the Delivery Client and Resource Builder objects in order to make them return custom objects instead of the ResourceArray and DynamicEntry objects.

This requires extending the DeliveryClient to create a custom Builder, which is not possible because of the fact that the `$builder`, `$instanceCache` a

[2016-06-24 10:40] ArondeParon commented on #7
Added a pull request to demonstrate this.

https://github.com/contentful/contentful.php/pull/8

[2016-06-24 13:26] realityking commented on #7
Hi Aron,

the extension story for the SDK is admittedly somewhat unrefined. Long term the plan is to allow you to override the `ResourceBuilder`, whether that's through a factory method or dependency injection is not quite clear. The reason why you can't do that today is that the interface of the `ResourceBuilder` is far from stable.

The other part of this is that we want to allow generating cust

[2016-06-24 15:47] ArondeParon commented on #7
Hi Rouven,

Thanks for the speedy response. I'll clarify my use-case a bit. I'm using Contentful as the backend for a Laravel-driven website and want to model my data using simple models. I made a `ContentfulModel` that talks to a custom query builder. Reason for doing this is that I can now define and retrieve my content like this:

[code]

Which can then be used to retrieve content using `BlogIt

[2016-06-28 09:38] realityking commented on #7
Hi Aron,

I had to think about this a bit. As I see it you basically want to implement an Eloquent style interface for Contentful. Correct? I admittedly based the design of the SDK more on Doctrine which might be a bit jarring for someone more comfortable with Eloquent.

I don't think we'll offer the kind of extensibility necessary to achieve that. The simple reason is that the SDK is trying to be

[2016-06-30 16:05] sorenmalling opened #9 "Trying to retrieve files with value "Id" as last two letters gets "Id" stripped of"
Trying to retrieve the value of a field with ex. DynamicEntry::getYoutubeId ends up looking for the field `youtube` and not `youtubeId`

This is due to line 82-85

`
if (substr($fieldName, -2) === 'Id') {
            $fieldName = substr($fieldName, 0, -2);
            $getId = true;
        }
`

[2016-06-30 16:09] realityking commented on #9
![](http://i2.kym-cdn.com/entries/icons/facebook/000/000/554/facepalm.jpg)

It never even occurred to me that people could name fields ***Id. Fix will come soon.

[2016-07-04 09:53] #9 closed

[2016-07-04 09:56] realityking commented on #9
Thanks again for the report. The issue should now be fixed in master. The next release should be at the end of this or the beginning of next week.

[2016-07-18 10:15] ArondeParon commented on #7
Hi Rouven,

I think a good (and pretty easily implemented) starting point would be to convert any private methods to protected methods. This would at least allow developers to extend the library to their own wishes. From that, good stuff will probably/hopefully emerge, enabling you to make choices about the direction this API should move to.

[2016-07-19 08:27] ArondeParon opened #10 "Synchronization Query always performs an initial synchronization"
The `getQueryData` method in the Synchronization Query object looks like this:

    public function getQueryData()
    {
        $data = [
            'initial' => true,
            'type' => $this->type !== 'all' ? $this->type : null,
            'content_type' => $this->contentType
        ];

        return $data;
    }

This method is called in the `Manager` as following:

    public function

[2016-07-19 08:43] realityking commented on #10
Hi Aron,

have you seen our tutorial on [Using the Sync API with PHP](https://www.contentful.com/developers/docs/php/tutorials/using-the-sync-api-with-php/)? If so, we might need to explain better how the sync API works.

The important part is that you use `startSync()` only for the initial sync. If you want to get the changes since the last synchronisation, you must use `continueSync()`. The reas

[2016-07-19 09:15] ArondeParon commented on #10
Hi @realityking, you beat me to it. Just discovered the way this works myself.

Thanks for clearing this up!

[2016-07-19 09:15] #10 closed

[2016-07-19 09:17] realityking commented on #10
Glad it work out. Could you share how we could have made this easier to figure out? It's certainly not the most obvious part of our API.

[2016-07-19 10:24] graymic opened #11 "Grabbing linked content"
Is there a way to actually display "includes" from a request?

Thus far if I have a content entry with references inside, there is no apparent way in which to display these it would seem...

i.e.:

[code]

or am I going about this incorrectly?

[2016-07-19 11:11] realityking commented on #11
Hi Michael,

the PHP SDK allows you access to linked entires simply by accessing the field. For example, if you have a field called `category`, calling `getCategory()` will return the linked entry.

If instead you're trying to list all the entities that are in the `includes` field, that's currently not possible with the PHP SDK. What's your use case for that?

Cheers,
Rouven

[2016-07-19 11:28] ArondeParon commented on #10
Hi @realityking, the docs are pretty clear, actually. I just didn't see that particular page because it's not listed in the sidebar.

[2016-07-19 11:29] realityking commented on #10
Thanks for the feedback. :)

[2016-07-19 21:21] graymic commented on #11
Suppose I have an entry called Cafe's and in that, I have a further set of references to properties that I consider to be cafe's. Those in turn may have a field of multiple references going to "days of the week" representing opening days.

I want to know how one would query against Cafe's, and be able to see the relationships (The properties related) with the references to the days of the weeks in

[2016-07-19 22:04] realityking commented on #11
I'm still not sure if I follow you 100%.

In your example, you could access the opening days like this:

[code]

Is this what you're looking for?

[2016-07-20 16:51] graymic commented on #11
Yes this could potentially be what I required. Thank you.

[2016-07-20 16:51] #11 closed

[2016-08-15 15:05] tomaszhanc opened #14 "CDN host vs API host"
Using PHP SDK for Delivery API I've got an old version of a content. For example in the Contentful a content has a version 20, but from the CDN I've got a version 3. So then when I used that version to use Management API I've got 409 Conflict error with id 'VersionMismatch'. Probably the reason of that is CDN host (cdn.contenful.com) because when I used API host (api.contentful.com) by hand then I

[2016-08-16 08:48] realityking commented on #14
Hi Thomas,

I'm not 100% sure what you're trying to do but maybe I can clarify some things:

- This SDK is meant to be used with the Content Delivery API (can.contentful.com) and Preview API (preview.contentful.com). In the future there will be a dedicated SDK for the Content Management API. Unfortunately I don't have a timeline I could share but it will _not_ be soon.

- In the Content Deliver AP

[2016-08-16 09:55] tomaszhanc commented on #14
Thanks for a quick response. It's exactly as I thought. Probably the easiest way for me would be to fork the SDK and change the host by hand. I've made a quick test and I think it works. Today I will do more tests to make sure if everything is OK. It will be faster to use the SDK than write everything from the scratch, especially for a nice DataCollector for Symfony Profiler.

[2016-08-16 09:55] #14 closed

[2016-08-16 13:19] tomaszhanc commented on #14
@realityking Of course, you're right. It's not so simple to just change a content type, and a host. Have to do it without SDK.

[2016-08-23 23:01] graymic opened #15 "Locale bug noticed"
If you were to set the locale for a field that hasn't got a locale assigned, when using something like say $post->getTitle(), it would yield Undefined property: stdClass::$ru.

Is there a way of determining if that field has said locale, because if not it would appear the line: 102 in DynamicEntry is the culprit.

Thanks,

Michael

[2016-08-23 23:04] realityking commented on #15
Hi Michael,

could you clarify what you mean by "set the locale for a field that hasn't got a locale assigned"? I can't quite understand what you're doing.

Thanks,
Rouven

[2016-08-25 07:40] graymic commented on #15
Hey Rouven,

Suppose there is a field within contentful: 'title' which has two locales assigned, Fr and my default En.

If you were to use the method setLocale to say something like Ru. Because it is not set within contentful the sdk tries to execute against the $locale that doesn't exist resulting in a 500 error.

This should be caught otherwise you get quite an obscure error, the work around is

[2016-09-07 19:51] rogervila opened #16 "[Question] How to get a single entry by field value"
Hello,

As far as I have seen, you can get an entry by its id

[code]

I have tried to access the fields with the `where` query method this way:

[code]

I have tried with different approaches like `fields.slug.es-ES` but all I get is a 400 Bad Request response, that says that the Content Type ID is required.

My question is: **How can I get a single entry by a field value?**

Thank you.

[2016-09-08 10:44] willjrobinson opened #17 "Call to undefined (magic) method"
Hi,

We have a field in Contentful with the id 'echoId'. When we call '$entry->getEchoId()' we get a "Call to undefined method Contentful\\Delivery\\DynamicEntry::getEchoId()"

You can see this error here: http://staging.api.bmlabs.org/api/entry/1115

Why would this one magic method/field name cause an error?

We tested against: echo, testId, and other fields, and we've not come across this issue

[2016-09-08 11:21] Khaledgarbaya commented on #17
Hi @willjrobinson ,
isn't [this](https://github.com/contentful/contentful.php/issues/9) the same issue you are having ?

[2016-09-08 11:31] graymic commented on #17
@Khaledgarbaya you can easily replicate this, by creating a field called 'Echo ID'. If you try invoking getEchoId() the __call Magic Method will try and return the property echoId. Which oddly enough does exist but cannot be called. For example, if you were to invoke ->getContentType()->getFields() on the DynamicEntry, you will see the 'echoId' field does in fact exist as a field type.

[2016-09-08 11:44] calumbrodie commented on #16
When you are querying using a field, contentful needs to know what content type you are querying, so add the following

`$query->setContentType($contentTypeId);`

If you don't know the content type ID it's the last part of the url, when you are editing/viewing the content type in contentful.

[2016-09-08 11:54] willjrobinson commented on #17
Yeah @Khaledgarbaya it is. We did some tests and thought we were only seeing it with this one field (not other ...Id fields)...

Cheers!

[2016-09-08 11:54] #17 closed

[2016-09-08 12:52] rogervila commented on #16
Thank you @calumbrodie

This is the final query code:

[code]

[2016-09-08 12:52] #16 closed

[2016-09-08 13:09] graymic opened #18 "Release date of 0.7.x?"
Hey guys,

RE this ticket - - when is 0.7.x going to be released so that we can have a workable solution surrounding fields that may have "*Id*" in their field names?

https://github.com/contentful/contentful.php/issues/9

Thanks,

Michael

[2016-09-10 23:20] realityking commented on #18
Hey Michael,

I've just tagged [0.6.5-beta](https://github.com/contentful/contentful.php/releases/tag/0.6.5-beta) that includes that fix. Sorry for the delay.

Cheers,
Rouven

[2016-09-10 23:21] #18 closed

[2016-09-15 11:56] tzfrs opened #20 "Triggered error after requesting the value of an optional parameter."
I'm using the Contentful-Bundle but I think the problem is inside the core.

We have some optional parameters in Contentful, like "content" or "excerpt". When we now retrieve our entries and iterate over them, we want to check if the property is defined before outputting it. So let's say we have one entry with no content, but an excerpt

[code]

The first if works without problems but the second t

[2016-09-15 16:48] realityking commented on #20
Are you sure you don't have a typo anywhere? The way `DynamicEntry` works is that it fetches the content type and depending on the field existing or not you should either get `null` or the error you mentioned.

In case you can't find an example, please submit a support ticket that contains some short sample code and the space ID and auth token for your space. I'll try to reproduce the error on my

[2016-09-19 13:16] philippkuehn commented on #5
In the current version this is fixed for me. 👍

[2016-09-19 13:16] #5 closed

[2016-09-19 13:20] realityking commented on #5
Even better 😀

[2016-09-20 13:56] calumbrodie commented on #20
1) FYI in twig you don't need the full method name with brackets, just use {{ entry.excerpt }}
2) @realityking It would be nice to implement ArrayAccess on the DynamicEntry (as perhttps://github.com/usemarkup/contentful/blob/master/src/DynamicEntry.php) so that the entry can be treated as an array (for templating language less forgiving that twig)

[2016-09-29 18:12] rogervila opened #26 "Content Management API"
I've seen that this repository only supports Content Delivery API.
Are there plans for introducing Content Management API and Content Preview API?

If you want I can help to implement them.

Thank you.

[2016-11-16 17:20] sgb-io opened #34 "[Question] Possible to avoid querying Space & ContentType when querying Entries?"
When fetching entries, sometimes I want just the entry without resolving any of it's Links.

In particular, the sdk, by default, will query Contentful to resolve the `space` and `contentType` properties in the `SystemProperties` for a single entry when doing a simple `getEntries` call (via `ResourceBuilder:: buildSystemProperties`).

Note that setting `includes` to `0` does not affect this behavio

[2016-11-16 22:19] realityking commented on #34
Unfortunately it's not that easy as the `DynamicEntry` needs access to both the space (for the locales) and the content type (for the fields of types) to work correctly.

There are two things planned that will help you eventually:
- Cacheing for space and content types
- A way to request the raw version of entries (meaning just an array of data instead of objects)

Unfortunately neither is going t

[2016-11-17 09:34] sgb-io commented on #34
Thanks for the speedy response and advice.

[2016-11-17 09:34] #34 closed

[2016-11-18 00:35] solomonjames opened #37 "Content Type and Space API Requests"
## Problem
When I simply want a list of entries or just an entry I never need the Space or Content Type info.  Yet the API loads this data no matter what.  It seems somewhat tied to some aspects of the DynamicEntry setup but leads to unnecessary API calls compounding.

For instance, if I am to make an `entries` call to something that has a few linked content types nested, then this one API request

[2016-11-21 15:30] sgb-io opened #38 "Asset get() methods can throw Uncaught Exceptions when the content model is non-localized"
`Asset` methods such as `getFile()` and `getTitle()` can throw uncaught exceptions when the `Asset` in question has `localized` property set to `false`.

For example, say i have the regular `DynamicEntry` - `Car`, with a linked field `Image`, which is an `Asset`.

Let's say the `Image` looks like this:

[code]

Now, if you attempt to `getTitle('fr')` on this `Asset` for example, the SDK will throw

[2016-11-21 16:02] sgb-io commented on #37
Hey @solomonjames, I had the same problem as you - https://github.com/contentful/contentful.php/issues/34

There are some planned longer-term solutions but for now you can work around it using `reviveJson` (this solution worked for me - I get the space / content type meta once, cache it, then just revive it in new clients etc)

[2016-11-21 16:28] graymic commented on #38
I think the approach here is definitely fall back to the default locale - if what I've read I understood. Are there any issues foreseen if we fall back to default minus the obvious?

[2016-11-21 18:39] niels-nijens opened #39 "Releases without '-beta' suffix?"
According to [SemVer](http://semver.org/#spec-item-4) you're already allowed to make breaking API changes in a next 0.x release. So, the '-beta' suffix should be unnecessary.

As an added bonus you don't have to specifically add this package if you already have a Composer dependency on for instance the [ContentfulBundle](https://github.com/contentful/ContentfulBundle) for Symfony, which would impr

[2016-11-30 14:55] realityking commented on #38
I've been able to reproduce this using the following snippet:

[code]

I'd like to clear up one misunderstanding. An asset is always localizable. Setting `localized` to false on the reference to an asset just means you can not choose different assets for different locales within the entry. The asset itself still has the title/description/file for all assets.

That said, there is a fallback logic h

[2016-12-30 19:04] tommymarshall commented on #38
Any ideas on a fix for this? I started digging in but haven't made much progress.

It's happening to us when I
*Code:*
[code]
*Error:*
[code]

[2016-12-30 19:13] tommymarshall commented on #38
So, this appears to happen when an image has not finished processing within Contentful. I found the Asset in question and it appears it was stuck in a "Processing" state (Redlined through client-specific details).

![](https://s3.amazonaws.com/vigesharing-is-vigecaring/tmarshall/16-12-30_14-10-26.png_13111065_2016-12-30_14-12-42.png)

Not 100% sure it's related to this issue; so if not let me know

[2017-01-03 19:44] gholias commented on #26
Im also trying to create a PHP SDK for the Content Management.
@rogervila Maybe we could talk?

[2017-01-05 15:06] realityking commented on #38
Hi @tommymarshall that's an unrelated error. The original error only occurs when actually accessing the data through a getter method. Could you please open a a support ticket and mention my name? You should not be able to publish an asset that hasn't finished processing. Thank you.

[2017-01-06 14:43] #38 closed

[2017-01-25 14:37] realityking commented on #15
Long time coming on this one. This should now work in current master. Note there are some breaking changes so be careful when you try it. If you still have this problem please reopen this issue.

[2017-01-25 14:37] #15 closed

[2017-01-31 14:15] realityking opened #50 "Implement ArrayAccess on the DynamicEntry"
It would be nice to implement ArrayAccess on the DynamicEntry (as perhttps://github.com/usemarkup/contentful/blob/master/src/DynamicEntry.php) so that the entry can be treated as an array (for templating language less forgiving than twig)

Original comment from @calumbrodie: https://github.com/contentful/contentful.php/issues/20#issuecomment-248308376

[2017-01-31 14:16] realityking commented on #20
Closing this since I haven't heard back.

@calumbrodie Your request has not been forgotten, I've opened #50 to keep track of it.

[2017-01-31 14:16] #20 closed

[2017-01-31 14:19] tzfrs commented on #20
Sorry. Totally forgot about this topic. It was indeed an error on my site. I used the same twig template for two different content types without noticing it, because they are pretty similar

[2017-01-31 14:20] realityking commented on #20
Thanks for reporting back I already figured it was something like that!

[2017-03-05 16:07] tommymarshall opened #54 "Documentation: Setting language as a fallback"
## Description
I've been trying to access values of translated fields using magic methods, but am running into issues. For context, I am using the most recent version of this SDK with Laravel (though I dropped using contentful/laravel package and made my own service provider because of minimum requirements of this package).

This issue occurs whether I `setLocale` on a `new Query` or passed to `ge

[2017-03-06 01:18] realityking commented on #54
There's definitely something wrong. Is this with 0.6.5 or with current master?

[2017-03-06 02:37] tommymarshall commented on #54
What's currently in master.

[2017-03-08 03:07] tommymarshall opened #55 "Add ability to update Contentful's source CDN"
Probably crappy issue title, but it'd be great to able to customize the source URL of the CDN from which to fetch data.

### Use case
We're wary of hitting rate limits, so we'll periodically query content and cache the data on our end at a custom URL (our own CDN). I couldn't customize this library in an expected way (extend and override parent constructor) because variables were `private`.

### H

[2017-03-13 15:10] realityking commented on #54
Hi Tommy,

I've got a fix in #57, it'd be great if you could confirm that it resolves your issue.

The problem is not actually related to the fallback chain at all, instead it's a problem with non-localised fields. I did not check what the issue is in 0.6.5-beta. Would it be ok for you to switch to master for a while? (If so, you should pin it to a specific commit as there are a couple more breaki

[2017-03-13 15:25] realityking commented on #55
Quick update on this: we will implement this using your option 2. Probably also going to change the signature to take an options array, even if that makes documenting the options a bit harder.

[2017-03-15 13:29] #55 closed

[2017-03-15 13:29] realityking commented on #55
Fixed in current master. Thank you @tommymarshall for the suggestion :)

[2017-03-15 13:31] realityking commented on #54
@tommymarshall did you have a chance to check out #57?

[2017-03-15 13:55] tommymarshall commented on #54
Apologies, been jamming on client stuff. I'll give it a shot this afternoon!

[2017-03-20 16:16] wawrzynkiewicz commented on #26
i'm interested in write access SDK too, @gholias can you contact me. regards

[2017-03-21 13:53] realityking commented on #54
@tommymarshall Hey Tommy, just circling back to this. Did you have a chance to test it? I'll merge it tomorrow.

[2017-03-23 12:29] #54 closed

[2017-03-26 12:42] derpoho opened #68 "Field IDs with first letter uppercase don't work."
If someone needs (or wants) to create field Ids with the first letter upopercase, this SDK will not work since here https://github.com/contentful/contentful.php/blob/master/src/Delivery/DynamicEntry.php#L94 the first letter will alway be converted to lowercase.

Two options come to my mind:

- Either Prepare the field Ids when they come so that the first letter is always lowercase.
- Extend the ab

[2017-03-28 10:27] realityking commented on #68
Oh wow, that's a gigantic oversight. I'm not yet sure how we'll fix this :/

[2017-03-28 10:35] derpoho commented on #68
It's really difficult since you can also create 3 fields in Contentful:
- firstName
- FirstName
- firstname

all 3 together are totally valid, so you never know if the user meant it to be uppercase oder not ;)

[2017-03-29 13:12] realityking opened #73 "Run tests with PHP 7.1"
See also #69

[2017-03-29 13:12] realityking opened #74 "Decide on final set of supported PHP versions"
Current thinking:

- [x] Drop HHVM (#76)
- [x] Investigate dropping PHP 5.5
- [x] Run Travis on PHP 7.1 (#73)

[2017-03-29 14:43] #68 closed

[2017-03-29 15:55] #73 closed

[2017-03-30 08:41] realityking opened #78 "Expose the value of X-Contentful-RateLimit-Reset in the RateLimitExceededException"
Reference: https://www.contentful.com/developers/docs/references/content-delivery-api/#/introduction/api-rate-limits

[2017-03-30 12:27] realityking commented on #74
We ran the numbers and discovered we have significant usage of PHP 5.5.9 and 5.5.38. Not going to go forward with this for now.

[2017-03-30 12:27] #74 closed

[2017-03-31 15:56] raphibolliger commented on #5
I have the same problem i can't call the `getFile()` method. But it's really strange it can resolve the value from `getUrl()` and after that the fatal error occurs. The `$frontImage` is definitely not null but the error occurs anyway.

Here my code:
[code]
This produce the following output and error:
Output: //images.contentful.com/x...x/x....x/image.png
Error: **Call to a member function getTitle

[2017-04-03 11:49] realityking commented on #5
@raphibolliger I think your error is on this line `$imageUrl = $frontImage->getTitle()->getUrl();` instead it should be `$imageUrl = $frontImage->getFile()->getUrl();`. Let me know if that works :)

[2017-04-04 15:58] #78 closed

[2017-04-05 15:15] #37 closed

[2017-04-27 14:39] spcherub opened #99 "Unset field throws error in src/Delivery/ResourceBuilder.php"
1. Create an asset (A), type in the title but do not attach a file. Save as draft
2. Associate this asset as a reference in another content item (B)
3. Use SDK to query for this item (B)
4. Exception thrown on line 208, triggered by call on line 189 where $fields['file'] is not set

[2017-04-28 09:35] realityking commented on #39
It's been a long time since you opened this ticket but I wanted to let you know that we've finally released a stable version of the SDK and the ContentfulBundle. Thank you for your patience. :)

[2017-04-28 09:35] #39 closed

[2017-04-28 09:35] realityking commented on #99
Hi @spcherub,

Thanks for the bug report, I see how this happened. Just to clarify, this issue occurred when you used SDK with the preview API, didn't it?

[2017-04-28 10:21] spcherub commented on #99
Yes preview API. I guess the normal workflow will not allow asset to be
published without the file attachment, so this won't happen with the
delivery API.

On Apr 28, 2017 5:35 AM, "Rouven Weßling" <notifications@github.com> wrote:

[2017-05-02 13:14] ArondeParon opened #100 "Locale fallbackCode should not be required"
In `ResourceBuilder.php` on line 458, the following code causes an "undefined index" error:

`$locales[] = new Locale($locale['code'], $locale['name'], $locale['fallbackCode'], $locale['default']);`

This is due to the fact that `fallbackCode` does not always exist, in which case, the code should default to something else.

[2017-05-03 13:24] Jalle19 opened #101 "DeletedEntry should also have a getContentType() method"
Currently `DeletedEntry` payloads look like this:

[code]

Yet the `DeletedEntry` class doesn't have the `getContentType()` method that e.g. `DynamicEntry` has. This makes it impossible to determine what type of thing was deleted, you have to parse the raw payload yourself to extract the data.

Are you accepting pull requests? There doesn't seem to be much activity here so I'm reluctant to post a

[2017-05-03 13:33] Jalle19 opened #102 "Add support for checking a field exists at all"
Currently the magic `__call()` method is basically used for magic getters, i.e. `getName()`. When dealing with content types that have optional properties it would be beneficial to have a `hasName()` equivalent which would just check if the thing exists at all.

[2017-05-03 13:39] Jalle19 opened #103 "Undefined index: "fi-FI" (or similar) when attempting to retrieve a non-existing optional property"
https://github.com/contentful/contentful.php/blob/master/src/Delivery/DynamicEntry.php#L138 will issue an undefined index notice if you call `$entry->getPartner()` on a `DynamicEntry` made from this piece of JSON:

[code]

If ` "partner": {}` is removed, everything works as expected and `getPartner()` will return `NULL`. The `partner` field in this case is an optional non-localized reference.

Thi

[2017-05-03 20:50] #99 closed

[2017-05-03 21:40] jonchikly opened #105 "Memory exhaustion caused by the buildLink method"
The code is stuck in what seems to be an infinite loop which causes a memory exhaustion when getting resources from the resource builder.

The issue seems to come from the **buildLink** method in the ResourceBuilder class (vendor/contentful/contentful/src/Delivery/ResourceBuilder.php)

Commenting out the lines below fix the issue:

[code]

Is there a fix for that?

[2017-05-04 09:18] realityking commented on #105
Thanks for the report @jonchikly. To make it easier to investigate the issue I'd be great if you could send an email to support@contentful.com and include your space ID and API key. Please mention this issue.

I'd also need to know what memory limit is configured in PHP and what query was performed when this happens.

[2017-05-04 11:12] realityking commented on #100
Hi Aron,

Thank you for the report. We'd like to take a look at the space, could you please send an email to support@contentful.com referencing this ticket and include the space ID and API key. Thank you!

Cheers,
Rouven

[2017-05-04 11:14] ArondeParon commented on #100
done!

[2017-05-04 11:38] realityking commented on #101
Interesting, how did you get that payload? In the Sync API, this is the result I'm seeing:

[code]

[2017-05-04 12:44] Jalle19 commented on #101
This is from a webhook payload. In general the payloads seem to be identical to what you'd get from the "pull API", but apparently not in this case.

[2017-05-04 12:45] Jalle19 commented on #103
@realityking same thing with this one, this only happens with the webhook payloads. If I query this particular entry using the CDA the error doesn't happen at all. Hard to tell what's going on since the SDK doesn't expose the raw JSON.

[2017-05-04 15:08] realityking commented on #101
Indeed you uncovered the exception to the rule. I'll need to see if we can align them in the API or if we need to implement a workaround in the PHP SDK. Thanks!

[2017-05-04 15:10] realityking commented on #103
I see a pattern here 😄

Looks like it's time for some proper web hook support, including tests.

[2017-05-04 15:18] realityking commented on #105
Another user has reported the same issue allowing me to reproduce it. The problem seem to happen with very complex content models (many references) that contain a loop in the response. The `$depthCount` check was supposed to guard against this but was obviously not sufficient.

It's unlikely that we'll fix this bug this week. If you're affected please revert back to version 0.6.5, that is the newe

[2017-05-05 08:26] Jalle19 commented on #103
@realityking it wouldn't help per se, but it would make it easier to see the differences. Right now you have to hack the underlying HTTP client or similar to `var_dump()` the raw request.

[2017-05-05 08:28] Jalle19 commented on #101
A `HasContentType` trait would probably do the trick here. If a response doesn't include the content type then `getContentType()` could just return null.

Do you want me to PR anything? We'll probably be forking this internally for the time being so we can get around some of these issues.

[2017-05-05 10:49] jonchikly commented on #105
Great @realityking. Thank you for your feedback. I am following up on this via email.

[2017-05-05 11:04] Jalle19 commented on #103
@realityking https://support.contentful.com/hc/en-us/requests/16221

[2017-05-09 16:39] realityking opened #109 "Single locale is ignored when lazy loading a linked entry"
This should be true but it's false:

[code]

[2017-05-11 07:54] #109 closed

[2017-05-11 13:06] #101 closed

[2017-05-12 13:06] realityking commented on #105
I've created #113 that should fix this issue. I'd be great if you could test if @jonchikly. Thanks you.

[2017-05-16 14:19] carmolim opened #116 "Difficulty with query"
Hello, I want to query all entries of the type "store" that have in the field "category" a link to an specific "id" how can I achieve this?

I tried that:

[code]

But didn't work.

[2017-05-16 19:19] jamesaspence commented on #7
I agree with the above, almost a year on. Having just gotten into this SDK, there are a lot of things I would like to extend, where I'm stuck extending the entire object. One example is I would like to be able to wrap my results in a collection, instead of your custom array objects.

[2017-05-17 13:51] realityking commented on #116
Hi @carmolim,

I saw you posted the same question on StackOverflow (http://stackoverflow.com/questions/44007647/query-all-entries-of-the-type-store-that-have-in-the-field-category-a-link-t). Was the answer you received there sufficient?

[2017-05-18 09:30] #105 closed

[2017-05-18 10:25] jonchikly commented on #105
Thank you @realityking. I will have a look and let you know if anything. Have a good day

[2017-05-19 05:44] riyunoa opened #117 "DynamicEntry get<FieldName>() returns different data structure in preview client vs published mode"
Just did a composer update today, and we noticed that the DynamicEntry get<FieldName>() function is now returning different data formats with the preview client than the normal client. Is there a reason for this?

e.g. in preview 'myField' = [en-US => [en-US => "this value"]
in normal mode 'myField' = [en-US => "this value"]

Is there a way we can get the data in the same format? Thanks!

[2017-05-19 11:55] realityking commented on #117
Hi @riyunoa! There's definitely something going wrong here.

Could you please let me know the following things:
* What version of the SDK are you using. (Will be shown if run `composer info contentful/contentful`
* Do you set a locale either when constructing the client or when making the request?

If you have a piece of code that shows the issue, that would be even better. Feel free to send it to

[2017-05-21 23:58] riyunoa commented on #117
Thanks for your response. We aren't setting the locale when constructing the client or making the request. We actually compared the DynamicEntry.php from the previous version (which returned the same response) and the current version's, and it looks like the `__call(...)` method has changed and is adding in the locale.

Composer details:

    $ composer info contentful/contentful
    name     : co

[2017-05-22 02:10] riyunoa commented on #117
Actually I think I've found the problem, The preview response contains sys.locale: "en-US", but the cdn response doesn't, when setting the request parameter `locale=*`

The ResourceBuilder::normalizeFieldData() method sets $locale based on the sys.locale in the response. i.e. In buildEntry(...), `$locale = $sys->getLocale();` This gets passed into buildFields() and then normalizeFieldData()

[code

[2017-05-22 18:11] realityking commented on #117
Hey @riyunoa, indeed you seem to have uncovered an error in our API itself. I just checked with the backend team, we'll see if we can get a fix for this out soon-ish otherwise I'll try to implement a workaround in the SDK. I'll keep you posted.

[2017-05-22 23:44] riyunoa commented on #117
Thank you, we've just rolled back to using version 1.0.0 of the PHP SDK for now.

[2017-05-23 13:27] anandaneesh opened #118 "Where Condition with Linked(Reference Content)"
Hi,

Can I get an example for "Where Condition with Linked(Reference Content)".

Regards,
Aneesh Anand

[2017-05-31 15:52] adiwibisono opened #123 "Caching the API Calls"
Hi,

Just wondering if object caching is happening at all with the PHP SDK? If yes, at which version it is available? I've read the version logs but I just wanted to make sure here.

My api calls are going to the sky (not just roof). I suspect it is because bots are hitting non-existent slugs and goes to 404 with query requests (for menu navigations).

I checked the code and there is a term of "Wa

[2017-06-02 07:43] beephotography opened #126 "buildFile() in ResourceBuilder not getting the correct array if language is set"
The line
https://github.com/contentful/contentful.php/blob/master/src/Delivery/ResourceBuilder.php#L204

causes that the method buildFile() gets the wrong array.

buildFile() tries to access the array element 'details'

[code]

which is available one step deeper in the array. The structure of the array $data in this case is

[code]

A possible fix would be to pass the correct array to the buildFil

[2017-06-06 11:42] realityking commented on #126
`normalizeFieldData` is supposed to take care of exactly that. I'll try to reproduce the issue.

Am I right in thinking you requesting something with `setLocale('*')`?

[2017-06-06 12:27] beephotography commented on #126
Hi there,

I forgot to mention that it might have something to do with the $preview parameter set to true.
$defaultLocale parameter has not been set specifically when calling new Client().

[2017-06-06 12:28] realityking commented on #116
Closing this as there's been no response.

[2017-06-06 12:28] #116 closed

[2017-06-06 12:35] realityking commented on #126
Ahh, that explains. Unfortunately there's currently a bug in our API that messed with that. We're tracking the problem on the PHP side in #117. I'm closing this, we can continue the conversation over there.

[2017-06-06 12:35] #126 closed

[2017-06-06 12:48] dborsatto opened #129 "Remove <info> tag from messages in exceptions in console commands"
The two commands in `\Contentful\Delivery\Console`, when throwing exceptions, format the error messages using <info> tags, but these are ignored by `symfony/console` as the errors are automatically formatted.

[2017-06-06 12:48] realityking commented on #118
Hi @anandaneesh,

sorry for the late reply. You can find the docs on this feature here https://www.contentful.com/developers/docs/references/content-delivery-api/#/reference/search-parameters/search-on-references if you scroll down a bit and click on "Search on references" you can see some example code, including some using this SDK.

Cheers,
Rouven

[2017-06-06 12:48] #118 closed

[2017-06-06 12:51] realityking commented on #26
Hey everyone and especially @rogervila, @gholias and @wawrzynkiewicz. We've been mum on a PHP CMA SDK for a long time but now I can reveal that we're actively working on one.

We'll be opening a private alpha release later this week and then slowly expand access. If you're interested in joining the private alpha please send me an email at rouven@contentful.com and I'll get you on the list.

[2017-06-06 12:56] realityking commented on #123
Hi @adiwibisono,

The SDK supports caching the space and content types but nothing else. The warm ups download the space metadata and all content types as the cache is not incrementally build. It turned out that the script to warm up the cache was actually broken (unless using the Symfony Bundle) but those issues were fixed with #125 and #127. They'll be part of the next release.

Afterwards we'll

[2017-06-09 11:30] #129 closed

[2017-06-09 11:37] realityking commented on #100
Closing this as there's been no response to follow up questions. Feel free to reopen it if the issue still occurs.

[2017-06-09 11:37] #100 closed

[2017-06-13 10:04] realityking commented on #123
We just released [2.0.0](https://github.com/contentful/contentful.php/releases/tag/2.0.0) that include #125 and #127. We'll have the docs up soon.

[2017-06-13 13:00] realityking commented on #123
Hi @adiwibisono,

The tutorial is now available here: https://www.contentful.com/developers/docs/php/tutorials/caching-in-the-php-cda-sdk/

I hope that helps to get it working :)

Cheers,
Rouven

[2017-06-13 13:00] #123 closed

[2017-07-07 19:03] realityking commented on #26
I'm happy to announce that we just open sourced the upcoming CMA SDK. You can find it here: https://github.com/contentful/contentful-management.php

It's still work in progress. Please do test it and give feedback :)

[2017-07-07 19:03] #26 closed

[2017-07-09 16:37] dstuessy opened #165 "setInclude not working"
Hi,

I was just trying to query our account using this PHP API wrapper. Querying by content_type seems to work fine, but for some reason fails with entry links. Below is a snippet of my usage:

[code]

The include option works fine if I build the request myself and fetch the data using cURL.

Any ideas what's wrong? Not sure if I'm just not using the wrapper correctly.

Thanks!

[2017-07-09 21:14] dborsatto commented on #165
Hey @dstuessy 🙂
Can you provide some more info, so we can try to understand your problem? I'm interested in what the expected result is compared to the actual result, and the different behavior you experience when using setInclude.

Contentful's API uses include=1 when no explicit parameter is defined, and the SDK should resolve links automatically, at the cost of an extra query, so using setInclu

[2017-07-09 23:49] dstuessy commented on #165
Hi @dborsatto

Hm... maybe it's just a matter of me misreading the docs. haha

Here is what I expected to get:
[code]

but actually got this:

[code]

Using `https://cdn.contentful.com/spaces/{my_space}/entries?access_token={my_token}&content_type={type}&fields.title=Cars&include=2` with a cURL request, seems to give me the former, though.

[2017-07-10 09:12] dborsatto commented on #165
That looks weird indeed.
What do you say about opening a support ticket on contentul.com? So I can better take a look at your issue and see what we can find out 🙂

[2017-07-13 19:16] jordanandree commented on #117
@realityking any update on a fix for this? Trying to implement the Preview API and I'm seeing the same inconsistent behavior as @riyunoa

[2017-07-13 21:02] realityking commented on #117
@jordanandree We've rolled out the fix to the organizations we use here at Contentful and so far everything has held up. (Check out [this comment](https://github.com/contentful/contentful.php/pull/161#issuecomment-313663972) to learn about how that impacts our integration tests)

Last I heard we'll roll this out to a wider audience by the end of this month. I'll update this when that has happened.

[2017-07-14 14:18] jordanandree commented on #117
@realityking Thanks for the quick update on this! Also very good news to hear that it will be updated end of this month.

Also, I'm able to workaround the locale issue by subclassing the `Contentful\Delivery\Client` class and hardcoding a locale in the public `resolveLink` function. This works okay for now since there isn't the need for multiple locales in this context.

Example:
[code]

[2017-07-16 20:48] dstuessy commented on #165
Hi @dborsatto :)

Sorry for the extremely late reply. I'll open a support ticket with this github issue as a reference!

[2017-07-24 14:59] tucq88 opened #170 "Mock Client Call"
In order to write independent test, I want to mock Delivery/Client and then fake the return without actually hit Contentful. But I don't see any way to do it.

Could you please give me a suggestion?

[2017-07-24 15:17] dborsatto commented on #170
Hey @tucq88, thanks for reaching out!

Internally the SDK is using for this kind of testing a library called [PHP-VCR](https://github.com/php-vcr/php-vcr), which lets you record the interactions and save them, so the next time they will be recorded and you won't hit the API. We also set up a listener in the `phpunit.xml.dist` so we can use another library in the PHP-VCR family, which lets us use a

[2017-07-24 15:20] tucq88 commented on #170
Thanks @dborsatto , I'm checking it out. Much appreciated 👍

[2017-07-24 15:22] dborsatto commented on #170
You're welcome 🙂
I'm closing the issue, if you have any more questions feel free to reach out again 👍

[2017-07-24 15:22] #170 closed

[2017-08-02 18:55] beephotography commented on #117
Any news on this issue? It's still now working in our case.
Furthermore, when we try to get an image in preview mode, for example calling `getHeaderImage()`, then the image object has empty values and some notices are thrown.
Thus (since we handle notices like errors) our preview mode is broken. But I'll try to implement @jordanandree 's workaround just for now.

[2017-08-03 07:58] dborsatto commented on #117
Hey there,

we're currently still in a testing phase for the fix to the API. Unfortunately because of the nature of the fix, we're just want to take extra precautions. So far, our internal testing yielded positive results, but unfortunately we don't have a firm timeline yet. I'll make sure to update this issue when we have more details 🙂

[2017-08-14 17:50] kyllagdrgn commented on #117
I am also have problems with this. I am relived to find out that that there is a fix coming for this. I will be watching for updates

[2017-08-28 16:26] zmiKaminski commented on #117
Any update on the release of this fix?  Thanks in advance for all of your help!

[2017-09-17 22:02] incraigulous commented on #117
I have also encountered this problem. Looking forward to the fix!

[2017-09-18 13:11] kyllagdrgn commented on #117
@dborsatto Are there any updates on this issue

[2017-09-25 12:11] bestit-tkellner opened #174 "Serialization of exception which contains closures in stacktrace cause problems"
The serialize function of src/Log/LogEntry.php file cause problems if the exception contains closures in stack trace because it's not possible to serialize this.

[2017-09-25 12:18] dborsatto commented on #174
I'll try to reproduce the bug, but your description makes complete sense.
The problem is, I'm not completely sure how to work around this. I'll need to investigate a bit 🤔

[2017-09-25 12:26] bestit-tkellner commented on #174
I've created a pr with a fix for this problem. I use the traceAsString function of the exception class to prevent this problem.

[2017-09-26 15:04] #174 closed

[2017-10-18 07:12] dborsatto commented on #117
Hey all,
sorry for keeping silent lately, but now I can finally say we flipped the switch, and now the Preview API should behave as expected. I'll close this issue, but if anything should arise, feel free to continue the discussion!

[2017-10-18 07:12] #117 closed

[2017-10-18 07:14] dborsatto commented on #103
I'm closing this, as per our recent conversation.

[2017-10-18 07:14] #103 closed

[2017-10-18 12:20] incraigulous commented on #117
Awesome! Thanks!

On Oct 18, 2017 2:12 AM, "Davide Borsatto" <notifications@github.com> wrote:

[2017-10-18 15:46] zmiKaminski commented on #117
Thank you!

[2017-10-18 21:58] jordanandree commented on #117
@dborsatto thanks!

[2017-12-10 16:01] mddanishyusuf commented on #16
@rogervila but there is no slug filed in JSON data when we get all entries. I need specific entries by a slug.

[2017-12-20 11:40] dborsatto commented on #7
I'm closing this issue because the solution won't simply be to mark properties as `protected` rather than `private`. During early 2018 I will be working to change some things in the SDK, and this will be one of them 🙂

[2018-01-03 23:16] flrrrhoffpauir opened #180 "How can I check for a resource not found error?"
Not really an issue, but how can I catch various errors? Specifically `Resource Not Found`

Is there a forum or better place for these types of questions? Thanks

[2018-01-04 11:22] dborsatto commented on #180
Hey @flrrrhoffpauir,

please check out [Contentful Community](https://www.contentfulcommunity.com/), it's a forum-like website where users can get in touch with us with "generic" questions (ie, stuff that doesn't directly involve private data, for which opening a ticket would be a better solution). We also have a [public Slack](https://www.contentful.com/slack/) where users can post questions. I t

[2018-01-04 11:22] #180 closed

[2018-03-02 01:44] #50 closed

[2018-04-04 19:48] fireproofsocks opened #200 "Using magic methods to get field values breaks PHP conventions"
PHP functions and method names are case insensitive, so it is unidiomatic for the SDK classes to rely on specific capitalization when getting field values.  At worst, this can lead to fatal errors, and at best it is opaque to force the developer to guess how you might be manipulating the field name behind the scenes.

Let's assume that I am fetching entries of a content type named "my_thing" that

[2018-04-05 22:24] fireproofsocks commented on #200
Makes sense.  camelCase is fine as a suggestion (the Contentful admin definitely pushes you towards that), but snake_case and other naming conventions must also be functional.  Either way, I fully support deprecating the `__call` method.  And to clarify, I am in no way encouraging "relying" on case insensitivity, I'm just pointing out a discrepancy that is problematic an unidiomatic.

[2018-04-05 22:27] dborsatto commented on #200
Awesome ☺️ as I said, I'm currently already working on this, so I'll close this issue, but thanks for bringing it up, it validates my assumption that a better way of handling fields was needed!

Cheers,

Davide

[2018-04-05 22:27] #200 closed

[2018-04-11 10:02] #102 closed

[2018-05-17 23:58] johnny-cartelle opened #218 "How to query for empty value on URL field"
Hello,

I have a Contentful field of type 'short text' that's a URL field and I'm trying to get results where my field "externalUrl' is empty. I've tried many different things but can't seem to exclude items where this field is filled out.  Should this work to find items where my 'externalUrl' field is empty?

$query->where('fields.externalUrl', '');
I've also tried
$query->where('fields.externalU

[2018-05-18 09:59] dborsatto commented on #218
Hey there,

### Some background:

Our APIs handle fields that are not set and fields that are set to an empty string in a different way. If you're managing content using our Web App only (which is the most common situation), then when you don't populate a field, it will be excluded from the payload, and you can use the `exists` operator to filter that. If you manually use the Management API, and s

[2018-05-18 20:06] johnny-cartelle commented on #218
Awesome - problem solved. And thanks for the tips! I will implement those as well.

[2018-05-18 20:06] #218 closed

[2018-07-19 13:20] giles-v opened #226 "How to perform full-text or field-based searching?"
The CF Delivery API docs [state](https://www.contentful.com/developers/docs/references/content-delivery-api/#/reference/search-parameters/full-text-search):

I can't see a way to take advantage of this using the PHP SDK as it exists. Is that correct? Maybe I'm not understanding how to use magic methods to support params/operators which don't have an explicit PHP method defined.

[2018-07-19 14:11] dborsatto commented on #226
Hey @giles-v,

in PHP you can use the `query` operator with a `Contentful\Delivery\Query` object:

[code]

The snippet is taken from the docs. I'm not sure if you saw it, but clicking on "Query entries" in the docs will open a sidebar where you can see a snippet for each of the platforms we support, including PHP.

Anyway, the method `where` of the `Query` object requires two parameters: the name

[2018-07-19 14:11] #226 closed

[2018-07-19 20:20] giles-v commented on #226
Thank you for this!

[2018-09-20 21:50] dborsatto commented on #165
Hey @M-Porter,

Daniel created a support ticket, but then he never replied with some info I asked, so the ticket was archived.

For this case, are you having a similar issue? To be honest I can't fully understand the initial problem because the examples were about JSON, whereas the SDK should work as an abstraction thus making the underlying JSON irrelevant. Do you have any input on the topic?

Ch

[2018-09-27 15:27] dborsatto commented on #165
Hey,

I'm closing this (again). If you have any more questions, don't hesitate to reach out.

Davide

[2018-09-27 15:27] #165 closed

[2018-11-14 19:40] johnny-cartelle opened #256 "Setinclude not including resolved nested reference fields"
Hello, this may not be an issue, but my misunderstanding of the documentation. I'm using SDK version 2.4.1 still.

I have a content type that has a reference field. The entries in that reference field also have their own reference field with entries inside.

My understanding of setInclude is that if I set it to higher than 1, like 10, it should not just give back the ID's of these nested reference

[2018-11-15 08:01] dborsatto commented on #256
Hey @johnny-cartelle ,

a lot of things (incuding the code handling the bits you mentioned) changed from version 2 to version 3, so I can't really remember. how this is supposed to work I'll do some digging and I'll get back to you 🙂

[2018-11-21 13:46] Jalle19 opened #257 "Memory leak introduced some time after version 2.x"
We've tried two times to upgrade the version of this SDK that we use (first from 2.x to 3.x, now from 2.x to 4.x) but both times we're run into memory leaks that have turned out to be showstoppers.

Here's what it looks like when we attempt to synchronize all assets from a Contentful space:

[code]

On 2.x it used to look like this:

[code]

As you can see the memory usage is supposed to remain fa

[2018-11-21 15:12] dborsatto commented on #257
Hey Sam,

I think I know where the issue is. To be honest, I'm surprised it took this much before this surfaced.

In version 3 and 4 of the SDK, I made a choice to use a [resource pool](https://github.com/contentful/contentful.php/blob/master/src/ResourcePool.php) (known as instance repository in version 3), which basically keeps all built entries and assets in memory. This is an optimization done

[2018-11-21 17:21] Jalle19 commented on #257
I'll see if I can work around the issue with a PSR-6 cache, we have one of those easily available in the project anyway.

Instead of having the ResourcePool keep things in memory, wouldn't it be better to use an array-based (i.e. in-memory) PSR-6 implementation by default instead?

[2018-11-22 09:38] Jalle19 commented on #257
@dborsatto any chance you could make the various properties in `Client` protected instead of private? This way we could override the Client and configure a custom ResourcePool that does nothing (basically like VoidCacheAdapter)? Alternatively the client could have setter methods for these private properties, i.e. `setResourcePool(ResourcePoolInterface $resourcePool)`

[2018-11-22 10:03] Jalle19 commented on #257
@dborsatto I tried using a Redis-backed PSR-6 cache item pool, but the memory usage still ran amok.

[2018-11-22 10:07] dborsatto commented on #257
Yes, because in order to allow this, I need first to add a resource pool which works as a passthough only. I'm working on it, hopefully I'll release something by the end of the day.

Allowing to overriding the resource pool once the client is built is not actually a good idea, because the resource builder is also involved. So even though they are decoupled from each other, there should be a guaran

[2018-11-22 10:12] Jalle19 commented on #257
@dborsatto I tried adding a `return false;` to `ResourcePool::save()` and the memory leak is still there, so maybe we're looking in the wrong place after all?

[2018-11-22 10:13] Jalle19 commented on #257
In fact that made it even worse:

[code]

[2018-11-22 10:13] dborsatto commented on #257
The return value of `ResourcePool::save()` is there more for "cosmetic" reasons, it doesn't really do anything

[2018-11-22 10:18] Jalle19 commented on #257
I meant I returned early so the method doesn't do any saving

[2018-11-22 10:20] dborsatto commented on #257
As I said earlier, completely skipping the `save` part is not an option, because certain parts of the SDK rely on this, and in certain circumstances it may cause an infinite loop. Give me a second, I'm working on it! 😉

[2018-11-22 11:46] Jalle19 commented on #257
Okay, cool!

[2018-11-22 15:39] dborsatto commented on #257
Hey @Jalle19 ,

would it be possible for you to test your application using the new branch I just pushed:
https://github.com/contentful/contentful.php/tree/feat/low-memory-resource-pool

You can enable the low-memory resource pool by calling `withLowMemoryResourcePool(true)` in the `ClientOptions` object. In my tests this vastly reduces the amount of used memory, though I wouldn't suggest using th

[2018-11-23 13:07] Jalle19 commented on #257
@dborsatto definitely better than before, although still not at 2.x levels:

[code]

So currently it stays well below the 256 MB memory limit we have in place, but technically it still leakes memory so if possible a better solution would be preferred.

[2018-11-23 13:37] Jalle19 commented on #257
Yeah I understand that. Could you ping me once this feature is merged, then we can deploy this upgrade to our test environments and see if we find any other issues?

[2018-11-23 13:40] dborsatto commented on #257
I want to do some more testing and polishing, so it's likely that I'll release 4.1.0 on Monday. I'll let you know as soon as it's out!

[2018-11-28 09:08] #257 closed

[2018-11-28 09:18] dborsatto commented on #257
@Jalle19 I released version `4.1.0`, please with the PR changes, please take a look at it when you have some time 🙂

[2018-11-28 12:12] Jalle19 commented on #257
Nice, I'll report back once I've tested some more!

[2018-11-28 14:05] Jalle19 commented on #257
@dborsatto I tested synchronizing content instead of assets and there the memory leakage is still an issue (ignore the "not found" errors):

Before (SDK v2.x):

[code]

After (SDK v4.1.0):

[code]

Any ideas on what we could do to prevent this? Can the client be "flushed" somehow so it forgets everything?

[2018-11-28 14:09] dborsatto commented on #257
I tried loading about 40k entries and it didn't crash, reaching about 70MB of memory usage. Could you try profiling using blackfire and send me the link of the results?

[2018-11-28 14:10] Jalle19 commented on #257
@dborsatto our content is pretty big (sometimes we can't fetch 100 entries at once because we hit the 7.5 MB response size limit), maybe that's related?

I can try Blackfire at some point, although I've never used it so it may take a while.

[2018-11-29 05:37] Jalle19 commented on #257
@dborsatto I spoke too soon, I had forgotten to actually enable usage of the low resource memory pool... I'll post some new results shortly.

[2018-11-29 05:49] Jalle19 commented on #257
Got a little bit further:

[code]

[2018-11-29 07:18] Jalle19 commented on #257
Unfortunately, when we're not ignoring existing items we still keep running out of memory.

[2018-11-29 07:46] dborsatto commented on #257
Can I ask you what the synchronization does, exactly? I'm thinking that using the SDK might be a bit overkill, and you might be better off using the `contentful/core` utilities instead 🤔

[2018-11-29 08:03] dborsatto commented on #257
For instance, if you're just dumping the serialized JSON on disk, we can perhaps think of a way of not building full-blown resources, but instead just keep a lightweight representation of them, which can be serialized later. WDYT?

[2018-11-29 08:10] Jalle19 commented on #257
Basically for each entry it builds a corresponding entity on "our side". Only scalar fields are resolved with the SDK - for links and link collections we use the ID and look up the corresponding entity from the database (i.e. we assume that all linked entries already exist on "our side").

This bulk synchronization code is shared with the parts that handle web hooks from Contentful.

I've been thi

[2018-11-29 08:15] dborsatto commented on #257
A lot of basic functionality has been moved to `contentful/core` in the past few months (so it can also be used by the Management SDK), can I suggest you take a look at it and think what it would take for you to move to use that library? I can help fill the gaps of course.

I don't want to "give up" on this issue, but this use case is clearly a bit extreme for how the SDK was designed, so perhaps

[2018-11-29 08:39] Jalle19 commented on #257
Sure, I'll try to find some time for this. If you come up with any other memory/performance tweaks in this library the meantime, feel free to ping me and I can test.

[2018-12-27 23:17] kiliansch opened #260 "\Contentful\Delivery\Client->getSpace() doesn't take enviromentId into account."
This leads to a fail when using an API Key which is not allowed for the master enviroment.

[2018-12-28 11:03] dborsatto commented on #260
Hey there,
the getSpace() method calls an endpoint which is not environment-aware, so it's probably the API itself which should handle this differently. Right now I can't work on this, but I'll pass this on to our other teams 🙂

[2019-01-18 16:32] #260 closed

[2019-01-18 16:38] dborsatto commented on #260
@kiliansch this should be solved in version [4.1.1](https://github.com/contentful/contentful.php/releases/tag/4.1.1)

[2019-01-28 11:35] ebuildy opened #263 "Entry not cached?"
### compose.json

[code]

### index.php

[code]

I can see the cache is built, but I am still seeing HTTP call, why ?

[2019-01-28 11:47] ebuildy commented on #263
Oups!

Didnt read fully the doc:

    \Contentful\Delivery\ClientOptions::create()->withCache($cache, false, true); !

[2019-01-28 11:47] #263 closed

[2019-01-28 12:09] dborsatto commented on #263
Glad you sorted this out!

[2019-02-04 22:45] duncanheron opened #264 "Updating Entry fails with RichText field."
Using the SDK to update entries successfully until I got to an Assembly with RichText field.
Using a fairly standard SDK call:

[code]

I have tried adding `$entry->setField('bodyCopy', 'en-GB', $entry->getBodyCopy('en-GB');`
I get the following errors from the Requester when I drill down.
![image](https://user-images.githubusercontent.com/1316576/52242137-9f728500-28cd-11e9-8642-b90a18cf564a.png)

[2019-02-05 06:51] duncanheron commented on #264
Moved issue to contetful-management.php

[2019-02-05 06:51] #264 closed

[2019-03-23 15:42] medzhidov opened #265 "Error when i try to start the boilerplate"
[code]

Before i tried to launch `contentful-laravel` and got an access token error, but i install right all tokens data in my .env file.

[2019-03-23 15:55] dslpp056193 commented on #265
Boilerplate still does not work, but i delete "preview api token" and now laravel works fine.

[2019-04-02 11:30] minimit opened #266 "Wrong documentation php where field exist"
https://www.contentful.com/developers/docs/references/content-delivery-api/#/reference/search-parameters/existence/query-entries/console/php

In the doc the php documentation have a wrong code`->where('fields.tags', ['flowers', 'accessories'], 'exists');` should be `->where('fields.tags[exists]', true);`

[2019-04-04 18:43] yadakhov commented on #265
Hello.  Are you still having this issue?  I can assist you.  Which boilerplate are you referring to?

[2019-08-22 08:00] mmenozzi opened #269 "[Question] Is the getEntries() request cached?"
The `$client->getEntries()` is as follows:

https://github.com/contentful/contentful.php/blob/master/src/Client.php#L365-L380

It calls `$this->request()` and not `$this->requestWithCache`. So it seems is not cached. Is that true? Am I missing something?

[2019-09-10 17:46] Enviii commented on #266
Same issue on the inclusion:

Docs should be re-written to say the following because that's what actually works. The 3rd parameter in the documentation does not actually work.
`->where('fields.slug[in]', ['doc1', 'doc2', 'doc3']);`

[2019-09-16 15:14] mmenozzi commented on #269
@realityking @dborsatto do you have any advice on this?

[2019-09-16 16:22] dborsatto commented on #269
@mmenozzi The SDK can not really predict what a call to a collection endpoint might return: if (for instance) a user has added another entry using the Contentful web application, having the SDK use some sort of cache layer will inevitably lead to a stale result set.

For this reason, only calls to `getEntry`, `getAsset`, and `getContentType` will go through a cache layer, as the SDK is certain of

[2019-09-16 16:50] mmenozzi commented on #269
Thanks Davide!
Anyway I do not agree. Even for the `getEntry` method there might be the same problem. If, using Contentful web application, I change a field value on a content already cached I will get the old value if that content is fetched with `getEntry` in my application.

And this is totally fine for me. It's my responsibility to invalidate that cache in some way and get new content.

So I c

[2019-09-16 16:57] dborsatto commented on #269
The cache used by `getEntry` is by default not persisted across requests. This means that for every request the SDK will start from scratch, so there's no chance of getting a stale result.

The cache _can_ be made persistent (leading to good speed bumps for certain use cases) but it's an opt-in process through the `$options` object in the client constructor.

[2019-09-19 14:28] pugbyte opened #270 "Not able to build an Entry with locale=* and benefit from locale fallback"
Hello,

I'm trying to build an Entry with `locale=*` and then output that Entry by using `Entry->all()` with the non-default locale. I expected this to work, but to my dismay it actually throws an `InvalidArgumentException`. The problem is here, in `Resource/Entry.php`:
[code]
As you can see, the SDK checks to see if a field is marked as localizable before it attempts to walk the fallback chain fo

[2019-10-30 13:10] officialbalazs commented on #165
The returned `ResourceArray` does not seem to include the "includes" array that both the API and the Javascript API return.

[2019-10-30 13:13] dborsatto commented on #165
@officialbalazs The SDK handles the `includes` array internally and does not directly expose it. When you try to access those resources (through the original entry) the SDK will know that they've already been preloaded, and will not make further requests.

[2019-10-30 14:39] dborsatto commented on #165
You can not access it, but as I said, there will be no extra API requests.

If the `includes` array contains an entry/asset, the SDK will _not_ make extra requests when trying to fetch it (both when accessing it from another entry with something like `$blogPost->getImage()` or when calling `$client->getAsset($assetThatWasAlreadyFetchedId)`), because it will keep a copy of the resource in memory an

[2019-11-13 19:22] pgrigoruta commented on #270
@pugbyte , can you provide a simple code example that showcases the problem?

[2019-11-14 04:59] pugbyte commented on #270
Sure, I'll do my best to provide an example. Imagine you have a Content Model with two fields: `greeting` and `greeterName`. `greeting` is marked as localizable, `greeterName` is not. Imagine there's an Entry using this model and it had ID `123abc`. Your Contentful Space's default locale is English, but you also have the French locale available, and French is configured to fall back on English. En

[2019-11-25 16:40] pgrigoruta commented on #270
Thanks @pugbyte , this makes it clear. We discussed about this change internally and we decided not to merge it in core as it might be a breaking change for other clients. We also want to keep a consistent behavior between all our other libraries, so if we ever change it, we will do it in all libraries at once.

However, feel free to check my commit at https://github.com/contentful/contentful.php/

[2019-11-25 17:50] pgrigoruta commented on #265
The Laravel package looks to be installing correctly now, closing this as a cannot reproduce. @medzhidov feel free to add more details if you are still having issues.

[2019-11-25 17:50] #265 closed

[2019-11-26 11:23] pugbyte commented on #270
That's understandable, no worries. Thanks for taking the time to look at it.

[2020-01-27 13:59] e1himself opened #277 "Cannot fetch large number of independent entries"
Release v4.1.2 includes protection against an infinite loop of entry referencing itself.

But I believe the protection code has introduced a regression that prevents fetching multiple independent entries one-by-one.

See: https://github.com/contentful/contentful.php/commit/e29d218f8eb5bee69168d3cefc3e72d7a38dacd4#r36980490

https://github.com/contentful/contentful.php/blob/e29d218f8eb5bee69168d3ce

[2020-01-27 17:53] e1himself opened #278 "Two objects referencing each other with Rich Text field cause an unlimited infinite recursion"
So I've set up this demo space (`spaceId=49rugrz7ojq7`) to demonstrate the problem.

The very minimal setup is:

1. One content type (`page`) with a rich-text field.
2. Two entries for the above content type having a hyperlink reference to another one via their rich-text content body.

When you try to fetch one of them -- Contetnful delivery client falls into infinite recursion of resolving links.

[2020-01-27 21:28] e1himself commented on #278
The only way I see to fix it is to lazy-resolve links inside *EntryHyperlink*.

Something like this.

EntryHyperlink mapper:

[code]

EntryHyperlink Node:

[code]

[2020-02-03 14:00] e1himself commented on #278
Moved to `contentful/rich-text`: https://github.com/contentful/rich-text.php/issues/43

[2020-02-03 14:00] #278 closed

[2020-02-03 14:11] e1himself commented on #277
Meanwhile, we've downgraded to 4.1.0 to fix the problem here.

[2020-02-06 13:22] pgrigoruta commented on #277
@e1himself , thanks for bringing this up, we have just released 4.1.3 which fixes this issue.

[2020-02-06 13:22] #277 closed

[2020-02-06 14:00] e1himself opened #280 "Flaws in self-referenced entries handling fix"
@pgrigoruta

Releases 4.1.12, 4.1.13 and 4.1.14 are related to fixing fetching of self-referenced entries.

However, I still see some problems with this code that can lead to `currentDepth` value being improperly updated.

Consider these two cases:

1. An entity referencing itself

   - `getEntry('foo')` is called 1st time -- `currentDepth` is 1, gets incremented to 2
   - `getEntry('foo')` is cal

[2020-02-12 14:35] pgrigoruta commented on #266
Documentation has been updated, thanks for finding this!

[2020-02-12 14:35] #266 closed

[2020-02-20 12:12] e1himself opened #281 "v5.0 release is not switched to contentful/rich-text.php v2.0"
@pgrigoruta

The 5.0 release created yesterday mentions breaking changes in the `rich-text` dependency.
But `composer.json` was not updated. The release is still using `contentful/rich-text.php` of `~1.2`.

### Fix

`composer.json` should be updated to require `contentful/rich-text.php: ~2.0`

[2020-02-24 14:16] pgrigoruta commented on #281
Fixed, thanks for noticing

[2020-02-24 14:16] #281 closed

[2020-02-24 17:07] PiotrWpl opened #283 "Contentful SDK stopped working properly last weekend"
Hi,

last weekend a webpage, which I created for my friends, stopped working. From what I can see in the Apache logs, it's something related to GuzzleHttp which is used by Contenful SDK. Everything is working properly when I disable the usage of your SDK. Any idea what's going on?

I'm using Contenful SDK 4.1.3

Thanks in advance!

[2020-03-01 11:06] pgrigoruta commented on #283
Hello, we are not seeing this issue in general. Can you try a couple of things:
 - execute the same code from another machine, i.e. your local, so to exclude any change in the server configuration?
 - provide a code example that showcases the problem?

[2020-03-13 12:57] pgrigoruta commented on #283
Closing due to inactivity, feel free to re-open if you have new information.

[2020-03-13 12:57] #283 closed

[2020-03-20 10:42] thanhansoft opened #287 "How to post content to entry using php"
Hi admin,
I'm using contentful.php. I can get ID contentType.
How to submit content to entry.
Please help me

[2020-03-24 06:45] pgrigoruta commented on #287
Hello @thanhansoft , the Contentful Management librarry can be used for creating/updating posts - https://github.com/contentful/contentful-management.php . Here is a link to a code example on how to add an entry - https://github.com/contentful/contentful-management.php#entries-and-entry-snapshots .

[2020-03-24 06:45] #287 closed

[2020-03-24 08:28] pgrigoruta commented on #280
Thanks again for all the feedback, this change was merged in the latest release.

[2020-03-24 08:28] #280 closed

[2020-03-24 09:46] e1himself commented on #280
Thanks Paul :+1:

[2020-05-20 08:28] eerohakio opened #291 "Include with all() doesn't work with nested links"
SDK Version: 6.0.1
PHP Version: 7.2.28

**Description**
- Currently method `Entry::all()` only resolves first level of links.

**Preconditions:**
- ContentType A has reference field that includes reference to ContentType B
- ContentType B has reference field that includes reference to ContentType C

Only ContentType B links are resolved from ContentType->all()
This causes issue where backend(PHP)

[2020-05-25 09:42] alex-osborn commented on #291
I'm running into a similar problem.

SDK Version: 6.0.3
PHP Version: 7.4.5

![Screen Shot 2020-05-25 at 9 27 40 PM](https://user-images.githubusercontent.com/880420/82800163-53d35880-9ecf-11ea-883a-5a79541a373a.png)

In my case, the links aren't even being returned as `Link` objects but plain arrays, see "categories" in the screenshot.

[2020-05-29 07:26] mrbenosborne opened #292 "503 between bytes timeout response - Sync API"
Hi guys,

I am using the Sync API and followed the guide at https://www.contentful.com/developers/docs/php/tutorials/using-the-sync-api-with-php/.

I am using PHP 7.4.4 and contentful/laravel version 6.0.

When I run a full sync or continue sync I sometimes get a 503 error intermittently, see the error below:

![image](https://user-images.githubusercontent.com/7268075/83232964-ea30a400-a185-11ea-9

[2020-05-29 17:18] pgrigoruta commented on #292
@mrbenosborne , I just tried a sync over a large test space, around 40k records and it worked well. A few things to consider so to move forward:

- can you try again? Wondering if this was a temp thing caused by load issue
- what happens if you try/catch the error and retry? Would the next request work? Or it fails constantly on a specific step?

[2020-05-29 21:01] mrbenosborne commented on #292
Yes sure, it seems good now, perhaps it was just a blib, can we implement a retry for that data set if a 503 is returned?

[2020-05-30 04:43] pgrigoruta commented on #292
Yes, a retry should be good.

[2020-05-30 04:43] #292 closed

[2020-06-05 18:29] pgrigoruta commented on #291
The longer explanation is given at https://github.com/contentful/contentful.php/issues/256#issuecomment-438957073

Basically doing:
[code]
Will work, but var_dump wont since data is serialized.

[2020-06-05 18:29] #291 closed

[2020-08-13 05:37] Daronspence opened #293 "Potential segfault?"
We're still debugging this but curious if you have had any reports of segfaults the library?

We're running a custom WordPress plugin on a popular host (WP Engine) that uses the SDK and it somewhat reliably will cause a segfault when the SDK is used in any way.

I know there's a lot of other potential other code that could be interfering but just thought I would check if there were any reports?

A

[2020-08-13 15:25] Daronspence commented on #293
Update in case any one else happens to stumble across this one day. Instead of rewriting to use the Contentful REST API, we're going to use the GraphQL API instead. That solves the recursion "problem" in that it wont be necessary.

We're still not sure what caused the segfault, only that it occurs when we have the our the plugin enabled. The plugin's sole job was to make a couple of queries using

[2020-08-15 04:37] Daronspence commented on #293
Final update likely for a while here. Potential reproduction steps for anyone who may want try this out.

- Create a blank WP plugin and install the Contentful PHP SDK via Composer
- Include the autoload file and then add a hook to the `plugins_loaded` action.
- Inside your callback function, instantiate the main `Client()` class used for making requests
- Hammer your server a few hundreds times r

[2020-08-17 13:05] pgrigoruta commented on #293
Hi @Daronspence , there were a few issues in the past, mostly around self-referencing entries that caused out of memory/too much recursion, here are a couple - https://github.com/contentful/contentful.php/issues/278 , https://github.com/contentful/contentful.php/issues/105 . I guess they could cause segfaults.

However, the issues were fixed and verified a while ago, first can you make sure you ar

[2020-08-18 02:30] Daronspence commented on #293
Thanks @pgrigoruta for linking those. We were on the latest version, unfortunately.

Also unfortunate, WPE wasn't able to get a solid request on their end with all of the debugging tools running. We had it up for almost a full day and they weren't able to capture any of the 502 requests we were generating, but they could see in some log that it was indeed a segfault.

I knew you probably didn't ha

[2020-08-20 13:18] pgrigoruta commented on #293
Thanks @Daronspence , I will close this for now as we don't have enough data to move forward, feel free to re-open if you find out more.

[2020-08-20 13:18] #293 closed

[2020-09-28 05:12] brettmc opened #294 "BaseClient::messages memory exhaustion"
I am using the SDK (v6.0.3) in a long-running CLI process, to periodically query contentful and process the response.

In tracking down what we originally thought was a memory leak, whereby our PHP process would eventually exhaust memory and die, I found that in fact the culprit was `Api\BaseClient::messages` storing all of the http requests and responses in an ever-growing collection (which can g

[2020-10-04 12:17] pgrigoruta commented on #294
Hi @brettmc , thanks for finding this! I think both approaches are good and serve different use cases, so best is to implement them both. If you have a PR (full or partial), please submit it and we can finish the implementation/add test coverage if needed.

[2020-10-05 00:43] brettmc commented on #294
step 1, I have submitted a PR against contentful-core.php (https://github.com/contentful/contentful-core.php/pull/43)
If that's all cool, then there will be a small follow-on patch in this repo

[2020-10-12 14:37] pgrigoruta commented on #294
Thanks @brettmc , I just merged this branch

[2020-10-12 14:37] #294 closed

[2021-02-01 11:52] azambon opened #297 "Allow specifying timeouts for API requests"
Sometimes it happens that Contentful is used to serve contents that are not critical for a website, such as background images.
In these situations it would be preferrable to use short timeouts for these non-critical requests, so that a slow response from Contentful will not impair the operation of the whole website.

I'm aware that it is possible to specify a custom GuzzleHttp client (with a custo

[2021-02-22 14:14] ArondeParon commented on #7
@dborsatto sorry to bring this up again, but after a several year hiatus, I am currently integrating Contentful in another project and am still stumbling upon this exact same issue.

You mentioned that improving extensibility was on the roadmap for 2018, but as far as I can see, it is still impossible to extend the ResourceBuilder. Am I overlooking something?

[2021-02-22 14:27] dborsatto commented on #7
Hey @ArondeParon
I haven't worked for Contentful for more than 2 years, so I can't be of help. I'm pinging @pgrigoruta because it looks like he's the one committing on this repository now.

[2021-02-22 14:36] ArondeParon commented on #7
@dborsatto oops, I did not notice that! Thanks for getting back to me so far.

**Goal**

Being able to extend `ResourceBuilder` so that I can create simply value objects for my content.

**Blockers**

- The delivery client currently has a public `getResourceBuilder()` method that sits unused. By default, it returns the private `$builder` property.
- All the internal code does not use `getResourceB

[2021-02-22 14:51] Sebb767 commented on #7
Hi @ArondeParon ,

@pgrigoruta actually stopped working for Contentful and I'm in the process of taking over the maintenance of the SDK. I don't have the overview yet to have a good opinion on this, but your proposed solution seems good on the first look. I'll reopen this issue for tracking :)

[2021-02-22 14:52] ArondeParon commented on #7
@Sebb767 thanks for the quick action! I have created #298 that implements this ability in a backwards compatible way. Would love to hear your feedback!

[2021-02-22 15:35] Sebb767 commented on #7
@ArondeParon Thanks for the PR! :)

It looks good for me. I'll check back with the other maintainers and get back to you in the course of this week (sorry if it takes a while, I'm still in the process of taking over!).

[2021-02-25 10:40] Sebb767 commented on #7
Hi @ArondeParon , did the discussion in #298 solve your issue or do you still need help on that one? :)

[2021-02-25 10:54] ArondeParon commented on #7
Hi @Sebb767, it did not quite solve my issue, but it looks like there is no need for my PR at this time, since custom mappers can be added to the builder.

I do not use this solution myself, but I can imagine that it does the trick for others 😊

[2021-02-25 10:54] #7 closed

[2021-03-08 13:23] lolo789 opened #299 "https://travis-ci.org/github/js-cookie/js-cookie/builds/732749543?utm_source=github_status&utm_medium=notification"
[](https://travis-ci.org/github/js-cookie/js-cookie/builds/732749543?utm_source=github_status&utm_medium=notification)

[2021-03-09 12:36] Sebb767 commented on #299
Hi @lolo789 ,

We have since switched to CircleCI (you can click the button in the ReadMe to get there). Or is there anything specific about this build?

[2021-05-21 12:40] philipnewcomer opened #300 "Support for Tags"
Hi, I'm not seeing any way to get an entry's tags using this package. I know the tags are present in the API response, but don't appear to be supported by the SDK. Am I missing something, or are tags not yet supported by the package? Is this something that's planned?

[2021-05-21 20:33] Kyoss79 commented on #300
I second this. I am not able to find the tags anywhere in the PHP SDK.

[2021-06-03 21:09] ray-itech opened #301 "Support for HTML Serializing of Rich Text fields"
Hello,

Is there an inbuilt method to HTML serialize the rich type node types we get back from the Contentful API?

[code]

To

`"<p>BTF <b>Rich Text</b></p>"`

(If not, will have to build my own HTML serializer)

Thank you

[2021-06-09 08:50] ray-itech commented on #301
Closing, as found out I could use the `Renderer` class from this dependency: https://github.com/contentful/rich-text.php

[2021-06-09 08:50] #301 closed

[2021-06-09 17:02] Sebb767 commented on #301
Hi @ray-itech,

yes, this class is indeed the intended way to render rich text. Sorry for missing this issue. If you have any other questions, feel free to ask :)

[2021-06-14 16:51] ray-itech opened #302 "Empty Paragraph Node"
Hello,

I have noticed that, Contentful PHP SDK returns an empty `Text` Node, even though I try to remove the new line at the end of a `Rich Text` entry, it always adds a new line by default:

<img width="312" alt="Screenshot 2021-06-14 at 17 52 17" src="https://user-images.githubusercontent.com/63705600/121929649-518da780-cd39-11eb-8139-db9e801b3042.png">

I am using the `Composer` app.

<img wid

[2021-06-24 02:22] Sebb767 commented on #300
Hi @philipnewcomer @Kyoss79 ,

Tag support for management and delivery SDKs is in the works and should drop soon :) I'll ping you once it's released.

[2021-07-05 06:06] LrMiLoef commented on #270
I have the same issue at the moment. Is it planned to update the behaviour in the SDK or is there an workarround for that?

[2021-07-05 12:03] Sebb767 commented on #270
Hi @LrMiLoef ,

for now, this change is not planned. However, I might be able to add a flag for that behavior.

[2021-07-13 11:17] LrMiLoef commented on #270
That would be great, if you can do that. It would save me a lot of work and in my opinion it's a lot more intuitive.

[2021-08-01 21:47] Sebb767 commented on #270
Hi @LrMiLoef (and @pugbyte , in case you still need this fix),

I tried to implement a non-breaking work-around for this. This consists of two parts. If you use `Entry::all()`, you can now use the third parameter to avoid the exception:

[code]

If you access a specific field via `Entry::get()`, you can do it like this:

[code]

For the reasons Paul stated changing the default behavior is not a go

[2021-08-01 22:24] Sebb767 commented on #302
Hi @ray-itech ,

sorry for getting back to you so late! It seems like the issue here is in the editor. If the cursor is on the next line, it is internally seen as new paragraph. If you want to avoid this, remove the new line. This, for example, will lead to an empty node:

![i302-1](https://user-images.githubusercontent.com/4084001/127787053-8b3d6377-913d-4876-880f-1a6dbb0982b7.png)

This, on the

[2021-08-09 02:00] bmerigan opened #303 "Filtering not working on preview API"
By design the Preview API picks up incomplete draft content so I wanted to find a way to stop it returning incomplete entries i.e., where some fields are not filled in.

I used the below code example:
[code]
And even though none of the unitDetails fields were filled in, an incomplete entry was still returned:
[code]
Documentation reference: [https://www.contentful.com/developers/docs/references/co

[2021-08-09 15:21] Sebb767 commented on #303
Hi Ben,

I've managed to reproduce this locally. It's a bit unintuitive, but you actually need to set the query parameter value to `'true'` (a string) instead of `true` (a boolean). So this should work:

[code]

Hope this works for you :)

[2021-08-10 00:24] bmerigan commented on #303
The documentation I've linked to above specifically says it is a boolean.
On your advise I tried both single-quote and double-quoted strings (`'true' "true"`), but the result was the same, the incomplete entry was still returned.

[2021-08-10 02:37] bmerigan commented on #303
I don't know why, but I've been making changes to the models and it's started working correctly.  Will keep going and have an answer in a day or 2.

[2021-09-14 03:47] bmerigan commented on #303
Sebb above is correct in regards to the PHP Contentful library.
At the command-line, and via Postman using `true` works as intended.  But when using the PHP library `true` gets mangled.  To get filtering to work with the PHP library you must use `'true'`

[2021-09-14 03:47] #303 closed

[2021-10-18 03:52] #300 closed

[2021-11-09 15:24] mmenozzi opened #305 "Version 6.2.0 contains BC breaks"
Version 6.2.0 of this package contains backward incompatible changes from 6.1.0: https://github.com/contentful/contentful.php/compare/6.1.0...6.2.0

You added methods to an interface (ClientInterface) which is a BC break.

You should follow [Semantic Versioning](https://semver.org/).

[2021-12-06 12:05] Sebb767 commented on #305
Hi @mmenozzi ,

this is indeed a bc break - thanks for bringing that to our attention. We're trying to follow SemVer; this break was not intentional and we're working on a fix for this right now.

Sorry for the inconvenience!

[2021-12-06 12:11] mmenozzi commented on #305
No problem!
I suggest you to integrate https://github.com/Roave/BackwardCompatibilityCheck in your CI to avoid this in the future.

[2021-12-13 00:30] Sebb767 commented on #305
Hi @mmenozzi ,

we investigated this and, unfortunately, rolling back the change would likely break more code (that is already using the new versions) than saving code that doesn't. I'll instead add a warning to the README.

Additionally, adding the checker you suggested seems like a good option - hopefully it prevents such incidents in the future. Thanks again for bringing this to our attention :

[2021-12-13 07:53] mmenozzi commented on #305
You're welcome @Sebb767! Thank you for your attention to the this.

[2022-01-18 23:56] Sebb767 commented on #305
The check is now in the composer.json and will be integrated into the CI pipeline in the next release :)

[2022-01-18 23:56] #305 closed

[2022-01-18 23:57] Sebb767 commented on #302
@ray-itech Do you have any further questions or did this solve your issue? :)

[2022-01-19 00:07] Sebb767 commented on #270
Closing this as the changes were already released with 6.2.0

[2022-01-19 00:07] #270 closed

[2022-01-19 16:22] mmenozzi commented on #305
Great @Sebb767!

[2022-02-08 18:02] wlasnapl opened #308 "Library not compatible with Google Auth because of not supporting PSR Cache in version 2"
Can this library support also psr/cache in version 2 (not only 1 and 3)? Now I'can't upgrade to Symfony 6 project using Google Auth (https://github.com/googleapis/google-auth-library-php) because they require version 2 and here is required 3 (in 6.3.0).

[2022-02-16 23:54] Sebb767 commented on #308
Hi,

last time, adding v2 broke some dependencies, that's why only v3 was added. I'll look into whether this is fixable :)

[2022-02-16 23:54] #302 closed

[2022-02-22 17:46] kwivix commented on #308
Hi,

I've fixed this in the following PR's:

- https://github.com/contentful/contentful-core.php/pull/53
- https://github.com/contentful/contentful.php/pull/309
- https://github.com/contentful/ContentfulBundle/pull/54

[2022-03-11 02:23] Sebb767 commented on #308
Should be resolved with the just released 6.4.0 :)

[2022-03-11 02:23] #308 closed

[2022-03-17 22:22] baj84 opened #310 "Nested assets not returned for $entry->all();"
Hi,

I'm simply trying to get an entry with all it's nested links and assets, so that I can produce my page.

After reading #291 I am now looping through the entry and using `$entry->all()` which is returning 1 level of nested items. But how can I get all levels?

This seems like a really core part of having this library be useful - is there a work around?

[2022-03-17 22:27] baj84 commented on #256
Hi @dborsatto How is it possible to get the content and nested items?

[2022-03-17 22:30] baj84 commented on #291
Hi @pgrigoruta Could you please expand on your answer for how we can simply get an entry and it's nested assets?

Do we need to loop through each entry and on each field call `$entry->getReference()->getReference()->getTitle()`?

[2022-03-18 00:52] baj84 commented on #291
Hi @eerohakio Are you please able to share your full solution?

[2022-03-18 11:50] dborsatto commented on #256
I no longer work for Contentful, sorry, you should take a look at who's committing to this repo recently and ask them :slightly_smiling_face:

[2022-03-21 20:56] pklink opened #311 "Serializable interface deprecated in PHP 8.1"
Hi,  the `Serializable` is marked as deprecated in PHP 8.1 and will be removed in later versions.

I got the following deprecation warning/message:

[code]

For further information (w/ a backward compatible "fix") see https://php.watch/versions/8.1/serializable-deprecated.

BR, Pierre

[2022-03-21 21:28] pklink commented on #311
PR https://github.com/contentful/contentful-core.php/pull/55

Sorry, I've seen to late, that this problem is located in the `contentful-core` repository

[2022-03-22 01:17] Sebb767 commented on #310
Hi,

basically, you need to get all links and iteratively resolve them. I can create a code snippet that does this, if you'd like. As of now, the library is designed as a light wrapper around the API and very deeply linked structures are intentionally lazily resolved.

[2022-03-22 03:27] baj84 commented on #310
@Sebb767 Thanks for your reply. So I would need to recursively loop through the tree and check for any Entry objects then call $entry->all() ?

If you could provide a snippet that would be muchly appreciated.

[2022-03-28 11:55] sebalaini-itm opened #312 "Contentful Delivery $setLocale * not working as expected"
I'm trying to fetch a localized page that has the same slug in a different locale and my logic works for almost every page but seems to work only if the slug I'm requesting it's on the default Locale, and that will break some other pages.

I'm following this documentation https://contentful.github.io/contentful.php/api/master/Contentful/Delivery/Query.html
and this is part of my code:
[code]

`$th

[2022-04-12 09:19] Sebb767 commented on #312
Hey,

I'm currently looking into this, this might be an API bug. Just so I get this right, you have the following behavior:

- Query with slug = `/home` and locale = `en-US`-> returns the correct entry
- Query with slug = `us/home` and locale = `en-US`-> returns the correct entry
- Query with slug = `ca/home` and locale = `en-CA`-> returns the correct entry
- Query with slug = `us/home` and locale

[2022-05-22 22:53] Sebb767 commented on #312
After some further clarification, the problem seems to be the following: Given a field with a localized value, a query to the field will not search values in different locales. If you don't give a locale or `*`, the API will use the default locale and not search other locales, either. This seems to be a limitation of the API at the moment.

You can do any the following to work around this limitati

[2022-05-23 08:44] annikaC commented on #312
Thanks for looking into this @Sebb767 - is the fix for supplying '*' to the query in the API roadmap at all and is there a  booked timeline to fix that you could share with us?

The workarounds for this are not ideal - like you said, 1. would fetch everything where the slug is mentioned, and 2. doesn't work for dynamic localised content on the same slug, so 3 is looking like the only option at the

[2022-05-23 10:34] Sebb767 commented on #312
Hi @annikaC ,

Unfortunately, there is no timeline yet and I don't know whether they plan on changing it - I'm currently in contact with the API team, I will update you once I know more.

If you want, I can provide you example code for option 1 - it's probably a lot easier than maintaining a cache.

[2022-05-23 13:34] annikaC commented on #312
That would be fantastic, @Sebb767 - thank you!

[2022-06-11 18:51] #312 closed

[2022-09-02 17:33] dbebawy-modus opened #315 "Deprecation warnings in PHP 8.1"
1.   1x: Return type of Contentful\Delivery\SystemProperties\BaseSystemProperties::jsonSerialize() should either be compatible with JsonSerializable::jsonSerialize(): mixed, or the #[\ReturnTypeWillChange] attribute should be used to temporarily suppress the notice
2.   1x: Return type of Contentful\Delivery\Resource\Entry::offsetExists($name) should either be compatible with ArrayAccess::offsetEx

[2022-09-16 15:45] Sebb767 commented on #315
Hey @dbebawy-modus ,

unfortunately, we can't add this attributes or the return type until we deprecate support of PHP7, which we can't do until at least extended support for it runs out. So there's no way to get rid of these warning for now.

[2022-09-16 19:30] dbebawy-modus commented on #315
The composer.json file only supports `"php": "^7.2|^8.0",`.
Support for PHP return types was added in PHP 7.0 and the `void` type was added in PHP 7.1.

For the first 3 items, we can resolve the notices by adding the appropriate return types (mixed, bool).
[code]

The last 2 items can be resolved by adding the `void` return type. This is supported in PHP >= 7.1.
[code]

[2022-09-16 19:34] dbebawy-modus commented on #315
Create PR for your review/approval. https://github.com/contentful/contentful.php/pull/317

[2022-09-17 00:47] Sebb767 commented on #315
Unfortunately, the mixed return type is only available starting with PHP 8: https://www.php.net/manual/en/language.types.declarations.php#language.types.declarations.mixed .

Using bool and void is possible, though.

[2022-10-20 08:27] Seppo-Konttinen-Solteq commented on #315
Hi @Sebb767

Is there anything that can be done with this? We are currently doing upgrade and are blocked with this. Current Magento version EOL is 28th of Nov so se cannot wait much more longer to be able to do upgrade and testing in time.

Thanks.

[2022-10-24 16:34] NeilMasters commented on #315
Is there expected full support for php 8.1 coming anytime soon?

[2022-11-01 06:09] baj84 commented on #310
@Sebb767 Could you please provide an example of how to do this? I'm stumped.

Thanks!

[2022-11-23 10:54] svenluijten commented on #315
This isn't true. Attributes start with a `#` which also happens to be a comment. So any attributes you add to your code will simply be ignored pre-8.1. And even if it did, that's what versioning is for. Composer will just resolve the version you need based on your environment. Tagging the next release with PHP 8.1 will not cause _any_ issues for people (STILL!) running PHP 7.x.